:root {
  --progress-bar-height: 2em;
}

.home-main-header {
  text-align: center;
}

.skill-tiles {
  display: flex;
  flex-wrap: nowrap;
}

.skill-tiles input{
  display:block;
  position:absolute;
}

.skill-tiles input[type="radio"]:checked + label {
    border: 2px solid yellow;
    border-image: linear-gradient(to left, #61c69d 0%, #2d72bc 100%);
    border-image-slice: 1;
    border-width: 2px;
    transition: all 0.2s ease;
}

.skill-tiles label {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-tiles label span {
  color: #00FF00;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  mix-blend-mode: difference;
  /* background: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; */
}

.skill-tiles input[type="radio"] {
    opacity:0.011;
    z-index:100;
}

.skill-tile {
  flex: 50%;
  mix-blend-mode: difference;
  font-weight: bold;
  width:5em;
  height:3em;
}

.progress {
  text-align: center;
  height: var(--progress-bar-height);
}

.progress .progress-bar-title {
  width: 100%;
  mix-blend-mode: difference;
  color: #00FF00;
  font-weight: 700;
  font-size: calc(var(--progress-bar-height) - 0.85em);
  height: var(--progress-bar-height);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
}

.statistics-block {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.statistics-block .statistics-section {
  padding: 1em;
  border-image: linear-gradient(to left, #61c69d 0%, #2d72bc 100%);
  border-image-slice: 1;
  border-width: 3px;
}

.month-block-body {
  display: flex;
}

.month-block-element {
  background-color: lightgoldenrodyellow;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-left: none;
  width: 100%;
  height: 3em;
}

.month-block-element:first-child {
  border: 1px solid grey;
}
