<form class="" action="index.html" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter name">
    <small id="name" class="form-text text-muted">Enter product name from receipt or sticker.</small>
  </div>
  <div class="form-group">
    <label for="date">Date</label>
    <input type="datetime-local" class="form-control" id="date" aria-describedby="date" placeholder="Enter date">
    <small id="date" class="form-text text-muted">Enter date when product was bought.</small>
  </div>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="text" class="form-control" id="amount" aria-describedby="amount" placeholder="Enter amount">
    <small id="amount" class="form-text text-muted">Enter amount with units eg 100g, 1.1kg etc. For quantity type just number without units.</small>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" class="form-control" id="price" aria-describedby="price" placeholder="Enter price">
    <small id="price" class="form-text text-muted">Enter price for the product amount</small>
  </div>
  <div class="form-group">
    <label for="tags">Tags</label>
    <input type="text" class="form-control" id="tags" aria-describedby="price" placeholder="Enter tags">
    <small id="tags" class="form-text text-muted">Enter comma separated tags in order to display it properly on statistic</small>
  </div>

</form>
