<form class="" action="/api/expense" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" id="name" aria-describedby="name" placeholder="Enter name">
    <small id="name" class="form-text text-muted">Enter product name from receipt or sticker.</small>
  </div>
  <div class="form-group">
    <label for="date">Date</label>
    <input type="date" class="form-control" name="date" id="date" aria-describedby="date" placeholder="Enter date">
    <small id="date" class="form-text text-muted">Enter date when product was bought.</small>
  </div>
  <div class="form-group">
    <label for="time">Time</label>
    <input type="time" class="form-control" name="time" id="time" aria-describedby="time" placeholder="Enter time">
    <small id="time" class="form-text text-muted">Enter time when product was bought.</small>
  </div>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="text" class="form-control" name="amount" id="amount" aria-describedby="amount" placeholder="Enter amount">
    <small id="amount" class="form-text text-muted">Enter amount with units eg 100g, 1.1kg etc. For quantity type just number without units.</small>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" class="form-control" name="price" id="price" aria-describedby="price" placeholder="Enter price">
    <small id="price" class="form-text text-muted">Enter price for the product amount</small>
  </div>
  <div class="form-group">
    <label for="place">Place</label>
    <input type="text" class="form-control" name="place" id="place" aria-describedby="place" placeholder="Enter place">
    <small id="place" class="form-text text-muted">Enter place where product was bought</small>
  </div>
  <div class="form-group">
    <label for="tags">Tags</label>
    <input type="text" class="form-control" name="tags" id="tags" aria-describedby="price" placeholder="Enter tags">
    <small id="tags" class="form-text text-muted">Enter comma separated tags in order to display it properly on statistic</small>
  </div>
  <button class="btn btn-primary" type="submit"> Submit </button>
</form>
