{% block content %}
<link rel="stylesheet" href="[[ url_for('static', filename='home.css') ]]">
<script>
  const activeSkills = [[skills|tojson|safe]];
  const defaultTimeFlask = [[default_time | int]]
</script>
  <main id="home">
  <h1 class="home-main-header">You still have
    <mark id="expenses-list-time-left"></mark><mark>minutes</mark> today to invest
  </h1>
  {% if skills|length %}
  <div>
    <div class="input-group mb-3">
      <section class="skill-tiles">
        {% for skill in skills %}
          <span class="skill-tile">
            <input type="radio" value="[[skill.id]]" id="[[skill.id]]" name="skill" v-model="expense.skill" :disabled="isActivityStarted"/>
            <label for="[[skill.id]]" style="background-color:[[skill.color]]" title="[[skill.name]]">
              <span>
                [[skill.name]]
              </span>
            </label>
          </span>
        {% endfor %}
      </section>
      <select class="form-control" v-model="expense.amount" :disabled="isActivityStarted">
          <option value="0" disabled selected> Chose amount of time. </option>
        {% for n in range(4) %}
            <option value="[[15*(n + 1)]]">[[15*(n+1)]] minutes</option>
        {% endfor %}
      </select>
      <button
        class="btn btn-default input-group-append"
        v-on:click="onActivityStart"
        :disabled="!expense.skill || !expense.amount"
        v-if="!isActivityStarted"
        >Start!</button>
      <button
        class="btn btn-default input-group-append"
        v-on:click="onActivityStop"
        v-if="isActivityStarted"
        >Stop!</button>
    </div>
  </div>
  <h2> Current progress </h2>
  <div class="progress">
    <div
      class="progress-bar progress-bar-striped progress-bar-animated"
      role="progressbar"
      v-bind:style="{width: timerProgressInPercents + '%'}"
      v-bind:aria-valuenow="timerProgressInPercents"
      aria-valuemin="0"
      aria-valuemax="100">
    </div>
    <span class="progress-bar-title">
      {{timeProgressBarText}}
    </span>
  </div>
  {% else %}
    <h2 class="text text-center">
      There are no activities yet. Please follow this <a href=[[ url_for('settings') ]]>link</a>
      to add activities.
    </h2>
  {% endif %}

  <section class="statistics-block">
    <section class="card statistics-section">
      <h2 class="text-center text-uppercase"> Todays progress </h2>
      <div class="progress">
          <div
            v-for="expense in expenseGroups"
            class="progress-bar"
            role="progressbar"
            v-bind:style="{width: groupeAchievedInProportionDay(expense, totalyInvestedToday) + '%', backgroundColor: expense.color}"
            v-bind:aria-valuenow="groupeAchievedInProportionDay(expense, totalyInvestedToday)"
            aria-valuemin="0"
            aria-valuemax="100">
          </div>
          <span class="progress-bar-title">
            {{totalyInvestedToday}} minutes
          </span>
      </div>

      <div v-for="expense in expenseGroups">
        <h3>{{expense.name}}</h3>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            v-bind:style="{width: groupAchievedInPercentsDay(expense) + '%', backgroundColor: expense.color}"
            v-bind:aria-valuenow="groupAchievedInPercentsDay(expense)"
            aria-valuemin="0"
            aria-valuemax="100">
          </div>
          <span class="progress-bar-title">
            {{expense.total}}/{{Math.round(expense.target)}} minutes
          </span>
        </div>
      </div>
    </section>

    <section class="card statistics-section">
      <h2 class="text-center text-uppercase"> Week progress </h2>
      <div class="progress">
          <div
            v-for="expense in expenseThisWeekGroups"
            class="progress-bar"
            role="progressbar"
            v-bind:style="{width: groupeAchievedInProportionDay(expense, totalyInvestedThisWeek) + '%', backgroundColor: expense.color}"
            v-bind:aria-valuenow="groupeAchievedInProportionDay(expense, totalyInvestedThisWeek)"
            aria-valuemin="0"
            aria-valuemax="100">
          </div>
          <span class="progress-bar-title">
            {{totalyInvestedThisWeek}} minutes
          </span>
      </div>

      <div v-for="expense in expenseThisWeekGroups">
        <h3>{{expense.name}}</h3>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            v-bind:style="{width: groupAchievedInPercentsWeek(expense) + '%', backgroundColor: expense.color}"
            v-bind:aria-valuenow="groupAchievedInPercentsWeek(expense)"
            aria-valuemin="0"
            aria-valuemax="100">
          </div>
          <span class="progress-bar-title">
            {{expense.total}}/{{Math.round(expense.target*7)}} minutes
          </span>
        </div>
      </div>
    </section>
  </section>
  <section class="statistics-block">
    <section class="card statistics-section">
      <h2 class="text-center text-uppercase"> Previous Week progress </h2>
      <div class="progress">
          <div
            v-for="expense in expensePreviousWeekGroups"
            class="progress-bar"
            role="progressbar"
            v-bind:style="{width: groupeAchievedInProportionDay(expense, totalyInvestedPrviousWeek) + '%', backgroundColor: expense.color}"
            v-bind:aria-valuenow="groupeAchievedInProportionDay(expense, totalyInvestedPrviousWeek)"
            aria-valuemin="0"
            aria-valuemax="100">
          </div>
          <span class="progress-bar-title">
            {{totalyInvestedPrviousWeek}} minutes
          </span>
      </div>
      <div v-for="expense in expensePreviousWeekGroups">
        <h3>{{expense.name}}</h3>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            v-bind:style="{width: groupAchievedInPercentsWeek(expense) + '%', backgroundColor: expense.color}"
            v-bind:aria-valuenow="groupAchievedInPercentsWeek(expense)"
            aria-valuemin="0"
            aria-valuemax="100">
          </div>
          <span class="progress-bar-title">
            {{expense.total}}/{{Math.round(expense.target*7)}} minutes
          </span>
        </div>
      </div>
    </section>
  </section>
  <section class="month-block">
    <h2 class="text-center text-uppercase"> Current month progress </h2>
    <section class="month-block-body">
      <div v-for="dayNumber in 31" class="month-block-element" v-bind:style="{ width: getTodaysTotalPercentage(dayNumber) + '%' }">
        <div
          v-for="expense in getTodaysExpenses(dayNumber)"
          v-bind:style="{ backgroundColor: expense.color, minHeight: getTodaysExpensePercentage(dayNumber, expense)+'%' }">
        </div>
      </div>
    </section>
  </section>
  </main>
{% endblock %}
