{% block content %}
<link rel="stylesheet" href="[[ url_for('static', filename='home.css') ]]">
<script>
  const activeSkills = [[skills|tojson|safe]];
  const groupedBySkillExpenses = [[expenses|tojson|safe if expenses else []]];
  const groupedExpensesCurrentWeek = [[current_week_expenses|tojson|safe if expenses else []]];
  const groupedExpensesPreviousWeek = [[previous_week_expenses|tojson|safe if expenses else []]];
  const defaultTimeFlask = [[default_time | int]]
</script>
  <main id="home">
  <h1 class="home-main-header">You still have
    <mark id="expenses-list-time-left"></mark><mark>minutes</mark> today to invest
  </h1>
  <div>
    <div class="input-group mb-3">
      <select class="form-control" name="skill" v-model="expense.skill" :disabled="isActivityStarted">
          <option value="" disabled> Chose an activity! </option>
        {% for skill in skills %}
          <option value="[[skill.id]]">[[skill.name]]</option>
        {% endfor %}
      </select>
      <select class="form-control" v-model="expense.amount" :disabled="isActivityStarted">
          <option value="0" disabled selected> Chose amount of time. </option>
        {% for n in range(4) %}
            <option value="[[15*(n + 1)]]">[[15*(n+1)]] minutes</option>
        {% endfor %}
      </select>
      <button
        class="btn btn-default input-group-append"
        v-on:click="onActivityStart"
        :disabled="!expense.skill || !expense.amount"
        v-if="!isActivityStarted"
        >Start!</button>
      <button
        class="btn btn-default input-group-append"
        v-on:click="onActivityStop"
        v-if="isActivityStarted"
        >Stop!</button>
    </div>
  </div>
  <h2> Current progress </h2>
  <div class="progress">
    <div
      class="progress-bar progress-bar-striped progress-bar-animated"
      role="progressbar"
      v-bind:style="{width: timerProgressInPercents + '%'}"
      v-bind:aria-valuenow="timerProgressInPercents"
      aria-valuemin="0"
      aria-valuemax="100">
    </div>
    <span class="progress-bar-title">
      {{timeProgressBarText}}
    </span>
  </div>

  <section v-if="expenseGroups.length">
    <h2> Todays progress </h2>
    <div class="progress">
        <div
          v-for="expense in expenseGroups"
          class="progress-bar"
          role="progressbar"
          v-bind:style="{width: groupeAchievedInProportionDay(expense, totalyInvestedToday) + '%', backgroundColor: expense.color}"
          v-bind:aria-valuenow="groupeAchievedInProportionDay(expense, totalyInvestedToday)"
          aria-valuemin="0"
          aria-valuemax="100">
        </div>
        <span class="progress-bar-title">
          {{totalyInvestedToday}} minutes
        </span>
    </div>

    <div v-for="expense in expenseGroups">
      <h3>{{expense.name}}</h3>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          v-bind:style="{width: groupAchievedInPercentsDay(expense) + '%', backgroundColor: expense.color}"
          v-bind:aria-valuenow="groupAchievedInPercentsDay(expense)"
          aria-valuemin="0"
          aria-valuemax="100">
        </div>
        <span class="progress-bar-title">
          {{expense.total}}/{{Math.round(expense.target/7)}} minutes
        </span>
      </div>
    </div>
  </section>

  <section v-if="expenseThisWeekGroups.length">
    <h2> Week progress </h2>
    <div class="progress">
        <div
          v-for="expense in expenseThisWeekGroups"
          class="progress-bar"
          role="progressbar"
          v-bind:style="{width: groupeAchievedInProportionDay(expense, totalyInvestedToday) + '%', backgroundColor: expense.color}"
          v-bind:aria-valuenow="groupeAchievedInProportionDay(expense, totalyInvestedToday)"
          aria-valuemin="0"
          aria-valuemax="100">
        </div>
        <span class="progress-bar-title">
          {{totalyInvestedToday}} minutes
        </span>
    </div>

    <div v-for="expense in expenseThisWeekGroups">
      <h3>{{expense.name}}</h3>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          v-bind:style="{width: groupAchievedInPercentsWeek(expense) + '%', backgroundColor: expense.color}"
          v-bind:aria-valuenow="groupAchievedInPercentsWeek(expense)"
          aria-valuemin="0"
          aria-valuemax="100">
        </div>
        <span class="progress-bar-title">
          {{expense.total}}/{{Math.round(expense.target)}} minutes
        </span>
      </div>
    </div>
  </section>

  <section v-if="expensePreviousWeekGroups.length">
    <h2> Previous Week progress </h2>
    <div class="progress">
        <div
          v-for="expense in expenseThisWeekGroups"
          class="progress-bar"
          role="progressbar"
          v-bind:style="{width: groupeAchievedInProportionDay(expense, totalyInvestedToday) + '%', backgroundColor: expense.color}"
          v-bind:aria-valuenow="groupeAchievedInProportionDay(expense, totalyInvestedToday)"
          aria-valuemin="0"
          aria-valuemax="100">
        </div>
        <span class="progress-bar-title">
          {{totalyInvestedToday}} minutes
        </span>
    </div>
    <div v-for="expense in expensePreviousWeekGroups">
      <h3>{{expense.name}}</h3>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          v-bind:style="{width: groupAchievedInPercentsWeek(expense) + '%', backgroundColor: expense.color}"
          v-bind:aria-valuenow="groupAchievedInPercentsWeek(expense)"
          aria-valuemin="0"
          aria-valuemax="100">
        </div>
        <span class="progress-bar-title">
          {{expense.total}}/{{Math.round(expense.target)}} minutes
        </span>
      </div>
    </div>
  </section>
  </main>
{% endblock %}
