{% block content %}
  <main id="home">
  <h1 style="text-align: center;">You still have <mark id="expenses-list-time-left"></mark><mark>minutes</mark> today to invest</h1>
  <div style="display: flex">
    <div class="input-group mb-3">
      <select class="form-control" name="skill" v-model="selectedSkill" :disabled="isActivityStarted">
          <option value=""> Chose an activity and press start to invest! </option>
        {% for skill in skills %}
          <option value="[[skill.id]]">[[skill.name]]</option>
        {% endfor %}
      </select>
      <select class="form-control" v-model="selectedAmountOfTime" :disabled="isActivityStarted">
        {% for n in range(4) %}
          <option value="[[15*n + 1]]">[[15*(n+1)]] minutes</option>
        {% endfor %}
      </select>
      <button
        class="btn btn-default input-group-append"
        v-on:click="onActivityStart"
        :disabled="!selectedSkill || !selectedAmountOfTime"
        v-if="!isActivityStarted"
        >Start!</button>
      <button
        class="btn btn-default input-group-append"
        v-on:click="onActivityStop"
        v-if="isActivityStarted"
        >Stop!</button>
    </div>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" id="time-progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    <span class="justify-content-center d-flex position-absolute w-100">{{timeProgressBarText}}</span>
  </div>
  </main>
{% endblock %}
