<h2>Activities</h2>
<table class="table table-striped table-bordered">
  <form class="" action="/api/skill/create" method="post">
  <tr>
    <td>
      <input class="form-control" required name="name" title="Activity name" placeholder="Activity name"/>
    </td>
    <td>
      <input type="number" required class="form-control" name="target_day" title="Enter target amount minutes per day" placeholder="Minutes per day"/>
    </td>
    <td>
      <select class="form-control" required name="attributes">
          <option>Sellect a skill</option>
        {% for attribute in attributes %}
          <option value="[[attribute.id]]">[[attribute.name]]</option>
        {% endfor %}
      </select>
    </td>
    <td>
      <input type="color" name="color" value="#ff0000">
    </td>
    <td>
      <button class="btn btn-primary" type="submit">Add</button>
    </td>
    <td/>
  </tr>
  </form>
  {% for skill in skills %}
  <form class="" action="[[ url_for('skill_update', id=skill.id) ]]" method="post">
  <tr>
    <td>
      <input class="form-control" required name="name" title="enter skill name" placeholder="Name" value="[[skill.name]]"/>
    </td>
    <td>
      <input type="number" required class="form-control" name="target_day" title="Enter target amount minutes per day" placeholder="Minutes per day" value="[[skill.target_day]]"/>
    </td>
    <td>
      <select class="form-control" required name="attributes">
          <option>Sellect a skill</option>
        {% for attribute in attributes %}
          {% if attribute.id == (skill.attributes|length > 0 and skill.attributes[0].id) %}
            <option value="[[attribute.id]]" selected="selected">[[attribute.name]]</option>
          {% else %}
            <option value="[[attribute.id]]">[[attribute.name]]</option>
          {% endif %}
        {% endfor %}
      </select>
    </td>
    <td>
      <input type="color" name="color" value="[[skill.color]]">
    </td>
    <td>
      <button type="submit" class="btn btn-primary">Update</buton>
    </td>
    </form>
    <td>
      <form action="[[ url_for('skill_delete', id=skill.id) ]]" method=post>
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
